.bulkmailfw{ width: 95% !important;}
.panels .content.bgexpanded {
    background-color: #FBFBFB !important;
    box-shadow: none;
}
.txtmbd {font-size:14px;font-weight:bold;}	
.plvxlg {padding-left: 49px !important;}
.plvxxlg {padding-left: 81px !important;}
.plvvxxlg {padding-left: 154px !important;}
.txtsbd {font-size:11px;font-weight:bold;}
.greenfnt{color:#40A495;}
.hwlg{width:60%;}
.tqws{width: 66% !important;}
.minpopheight{height:400px;}
.ptxxlg{padding-top:220px;}
.twothird {
    width: 72% !important;
}
.ot_firstcol {
    width: 43.95% !important;
}
.ot_midcol {
    width: 26.95% !important;
}
.ot_lastcol {
    width: 18.95% !important;
}

.ot_stcol {
   width: 25.95% !important;
}
.one_third {
    width: 29%;
}
.oHalf{ width: 47%;}

.mlxxlg {
    margin-left: 43px !important;
}

.mlvxxlg {
    margin-left: 63px !important;
}
.newWindow{padding-right:0px !important;}
.firstOH{width: 35%;}
.lastOH{width: 60%;}
.lastOH_FOT{width: 34%;}
.lastOH_MOT{width: 34%;}
.lastOH_LOT{width: 28%;}

